<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org"
      xmlns:form="http://www.w3.org/1999/xhtml">
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Новый пользователь</title>

</head>
<body>

<form th:method="POST" th:action="@{/admin/get}" th:object="${user}">
    <label for="username">Введите Username</label>
    <input type="text" th:field="*{username}" id="username"/>
    <div style="color: red" th:if="${#fields.hasErrors('username')}" th:errors="*{username}">Error</div>
    <br/>
    <br/>
    <label for="password">Введите пароль</label>
    <input type="password" th:field="*{password}" id="password"/>
    <br/>
    <br/>
    <label for="name">Введите имя</label>
    <input type="text" th:field="*{name}" id="name"/>
    <br/>
    <br/>
    <label for="email">Введите почту</label>
    <input type="text" th:field="*{email}" id="email"/>
    <br/>
    <br/>
    <label for="age">Введите возраст</label>
    <input type="number" th:field="*{age}" id="age"/>
    <br/>
    <br/>
    <br/>
    <br/>
    <input type="submit" class="btn btn-outline-secondary" value="Добавить"/>
<!--</form>-->

<!--<h2>Employee info</h2>-->
<!--<br><br>-->
<!--<form:form action="saveNewEmployee" modelAttribute="employee">-->
<!--    <form:hidden path="id"/>-->

<!--    Name<form:input path="name"/>-->
<!--    <br><br>-->
<!--    Surname<form:input path="surname"/>-->
<!--    <br><br>-->
<!--    Department<form:input path="department"/>-->
<!--    <br><br>-->
<!--    Salary<form:input path="salary"/>-->
<!--    <br><br>-->
<!--    <input type="submit" value="OK"/>-->
</form>

</body>
</html>