<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>

<h1>Я - это:</h1>
<br>
<div>
    <th:block>
        <h1 th:text="'User name - ' + ${user.getUsername()}"></h1>
        <h1 th:text="'Email - ' + ${user.getEmail()}"></h1>
        <th:block
                th:each="msg : ${user.getRoles()}">
            <h1 th:text="${msg}"></h1>
        </th:block>
    </th:block>
</div>
<br>
<br>
<!--<input type="button" class="btn btn-outline-primary" value="Назад" onclick="window.location.href = ''"/>-->
<form th:action="@{/user}" method="GET">
    <input type="submit" value="Назад"/>
</form>
</body>
</html>